@use '@/styles/text' as *;
@use '@/styles/layouts' as *;

.question-card {
    padding: 20px;
    background: #fff5f1;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
        background: #fce9e0;
    }
}

.question-card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.question-card-content {
    margin-bottom: 20px;
}

.question-card-meta {
    @include flexCenterBetween;
}

.disable-underline {
    &:hover {
        text-decoration: none;
    }
}
