$primary-text: #160600;
$primary-background: #fffdfc;
$primary-placeholder: #fdc3ad;
$primary-border: #f89570;
$primary-border-dark: #f27142;
$primary-highlight: #fe8d63;

$accent-regular: #2bc3e9;
$accent-dark: #1cb8df;
