@use 'text.scss' as *;
@use 'layouts.scss' as *;
@use 'colors.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: $title-large;
}

h2 {
    font-size: $title-medium;
}

h3 {
    font-size: $title-small;
}

p {
    font-size: $regular;
}

.g\:text-sm {
    font-size: $small;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    @include content;
}

ul {
    list-style-position: inside;
}

.g\:has-transitions {
    transition: all;
    transition-duration: 100ms;
}

.g\:tablet\:hidden {
    @include md {
        display: none !important;
    }
}

.g\:mobile\:hidden {
    @media (max-width: #{$screen-md - 1}) {
        display: none !important;
    }
}

.g\:rotate-180 {
    transform: rotate(-180deg);
}

.g\:link {
    color: $accent-dark !important;

    &:hover {
        color: $accent-dark;
        text-decoration: underline;
    }
}

.g\:mb-lg {
    margin-bottom: 30px;
}

.g\:mb-md {
    margin-bottom: 20px;
}

.g\:mb-sm {
    margin-bottom: 10px;
}

.g\:text-red {
    color: #f15d5d;
}

.g\:text-bold {
    font-weight: 600;
}

.g\:disabled-input {
    opacity: 0.7;
    cursor: not-allowed !important;
}

.g\:loading-input {
    opacity: 0.7;
    cursor: progress !important;
}

.g\:py-md {
    padding-top: 20px;
    padding-bottom: 20px;
}

.g\:promo-card-md {
    padding: 20px;
    background: $primary-placeholder;
}
