@use '@/styles/layouts' as *;
@use '@/styles/colors' as *;

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.w-full {
    width: 100%;
}

.w-1\/4 {
    width: 25%;
}

.card-footer {
    @include flexCenterBetween;
}

.promo-card-sm {
    padding: 20px;
    background: #fff5f1;
}

.promo-card-xs {
    padding: 10px;
    background: #fce5dd;
}
