@use '@/styles/colors' as *;

.promo-card {
    padding: 20px;
    background: $primary-placeholder;
}

.mb-lg {
    margin-bottom: 30px;
}

.mb-md {
    margin-bottom: 10px;
}

.center {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
