@use '@/styles/layouts' as *;

.question-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.w-full {
    width: 100%;
}

.w-1\/4 {
    width: 25%;
}

.question-footer {
    @include flexCenterBetween;
    flex-grow: 1;
}
